{% extends 'base.html.twig' %}

{% block title %}liste des merci{% endblock %}

{% block body %}
    <h1>la liste complète des «merci»</h1>

    <table class="table">
        <thead>
            <tr>
                <th>De quel salarié il provient</th>
                <th>Pourquoi le salarié est remercié</th>
                <th>Quel salarié est remercié<th>
                <th>Date du remerciement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for thank in thanks %}
            <tr>
                <td>{{thank.TksBy}}</td>
                <td>{{ thank.Text }}</td>
                <td>{{ thank.TksFor}}</td>
                <td>{{ thank.TkDate ? thank.TkDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_thanks_edit', {'id': thank.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_thanks_new') }}">Dire un merci</a>
{% endblock %}
