{% extends 'base.html.twig' %}

{% block title %}Merci {{thank.id}}{% endblock %}

{% block body %}
<div class="center-container">
    <div class="title-section">
    <h1>Page du Merci</h1>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Identificateur</th>
                <td>{{ thank.id }}</td>
            </tr>
            <tr>
                <th>Contenu du Merci </th>
                <td>{{ thank.Text }}</td>
            </tr>
            <tr>
                <th>date d'émission</th>
                <td>{{ thank.TkDate ? thank.TkDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    
    {{ include('thanks/_delete_form.html.twig') }}

    <div >
    <a class="button-section" href="{{ path('app_thanks_index') }}">Retour a la liste</a>
    </div>
    
    </div>
{% endblock %}
